<form class="" id="login-form" action={{method}} method="POST" enctype="multipart/form-data">
  <table style="width: 100%; height: 100%;">
    <tr style="text-align: center;">
      <td colspan="2">
        <h2 class="form-signin-heading">
          <img src="{{avatar}}" class="user-avatar-edit" />
          <br />
          {{title}}
        </h2>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" id="inputName" name="name" class="form-control" placeholder="{{name}}" required autofocus>
      </td>
    </tr>
    <tr>
      <td>
        <input type="file" id="inputFile" name="file" class="form-control" style="visibility: visible;" required>
      </td>
    </tr>
    <tr>
      <td>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="{{email}}" required>
      </td>
    </tr>
    {{#if errors}}
    <tr>
      <td>
        <p id="errorEmail" class="errors">{{errors.email}} {{errors.message}}</p>
      </td>
    </tr>
    {{/if}}
    {{#if isRegister}}
    <tr>
      <td>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="{{password}}" required>
      </td>
    </tr>
    {{/if}}
  </table>
  {{#each actions}}
    <button class="btn btn-lg {{class}} btn-block" type="submit" style="margin-top: 15px;">{{name}}
    </button>
  {{/each}}
</form>