<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
	    	<a title="Home" id="home" class="navbar-brand header-site" href="/" active="{{home}}">
	    		<i class="glyphicon glyphicon-home"></i>
	    	</a>
	      	<a title="Contact" id="contact" class="navbar-brand header-site" href="/create" active="{{contactActive}}">
	      		<i class="glyphicon glyphicon-comment"></i>
	      	</a>
	      	<a title="Send Mail" id="send-mail" class="navbar-brand header-site" href="/emails" active="{{mailActive}}">
	      		<i class="glyphicon glyphicon-envelope"></i>
	      	</a>
	      	{{#if isAdmin}}
		      	<a title="List Images" id="list-images" class="navbar-brand header-site" href="/images" active="{{imageActive}}">
		      		<i class="glyphicon glyphicon-th"></i>
		      	</a>
		      	<a title="List Users" id="list-users" class="navbar-brand header-site" href="/users" active="{{userActive}}">
		      		<i class="glyphicon glyphicon-th-list"></i>
		      	</a>
	      	{{/if}}
	    </div>

	    <div class="nav navbar-nav navbar-right">
	    	<a title="User" class="navbar-brand" href="/users/edit">
	    		<i class="glyphicon glyphicon-user"></i>
	    	</a>
	    	{{#if isLogin}}
	    	<a id="logout" title="Logout" class="navbar-brand">
	      		<i class="glyphicon glyphicon-log-out"></i>
	      	</a>
	    	{{/if}}
	      	<script>
		      	$('a#logout').click(function() {
		      		$.post('/users/logout', function(data) {
		      			if(data.logout) window.location.href = '/';
		      		});
		      	});
	      	</script>
	    </div>
  	</div>
</nav>