<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table id="user-list" class="table table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Action</th>
      </tr>
      {{#if isAdmin}}
        {{#users}}
        <tr id="{{_id}}">
          <td><img class="avatar" src={{avatar}} /></td>
          <td style="vertical-align: middle;">{{name}}</td>
          <td style="vertical-align: middle;">{{email}}</td>
          <td style="vertical-align: middle;">No message</td>
          <td style="vertical-align: middle;">
            <a title="Delete {{name}}" href="/users/remove?id={{_id}}" style="color: inherit; text-decoration: none;">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a title="Edit Information Of {{name}}" href="/users/edit?id={{_id}}" style="color: inherit; text-decoration: none;">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a title="Send mail to {{name}}" href="/users/sendmail?id={{_id}}" style="color: inherit; text-decoration: none;">
              <i class="fa fa-reply"></i>
            </a>
          </td>
        </tr>
      {{/users}}
      {{/if}}
    </table>
  </div>
  <div class="col-xs-2"></div>
</div>